:plain
  ---
  layout: base
  title: Dawid W.
  ---
.you_have_to_wait
  %h6
    Under construction. Sorry.
  %p.tk-pt-serif.temp_text
    = "I'm"
    %a{:href => "#", :target => '_blank'} Kuba
    = " - front-end developer at"
    %a{:href => "http://netguru.pl", :target => '_blank'} Netguru



