!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => "utf-8"}
    %link{:rel => "stylesheet", :href => "css/reset_base.css"}
    %link{:rel => "stylesheet", :href => "css/stylesheet.css"}
    %link{:rel => "author", :href => "humans.txt"}
    %script{:src => "http://use.typekit.com/mjs0jem.js"}
    %script{:src => "js/jquery-1.7.2.min.js"}
    %script{:src => "js/base.js"}
    %title {{ page.title }}
  %body
    %header
    %section.main
      {{ content }}
    %footer
